* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: "Alumni Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  overflow: hidden;
  /* font-family: 'Alumni Sans', sans-serif; */
}

/*navbar*/

.grid-container {
height: 100vh;
/* background: coral; */
border: 5px solid red;
display: grid;
grid-template-rows: 40% 20% 40%;
}

.title {
  background: rgb(40, 128, 144);
  text-align: center;
  border: 4px solid rgb(24, 96, 112);
  color: white;
  text-shadow: 1px 1px gray;

}

/* img {
  height: 20%;
} */

.left-image {
  background: coral;
}

.left-image img {
  transform: scaleX(-1);
  /* background: green; */
}

.right-image {
  background: lightblue;
  height: 100%;
}

.pokeball {
  /* width:100%; */
  display: flex;
  /* justify-content: center; */
  /* background: pink; */
}

.pokeball img {
  height: 100%;
  background: blue;
}