* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: "Alumni Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  overflow: hidden;
  /* font-family: 'Alumni Sans', sans-serif; */
}

/*navbar*/

.grid-container {
height: 100vh;
background: white;
border: 5px solid red;
display: grid;
grid-template-rows: 70% 30%;
}

.title {
  background: rgb(40, 128, 144);
  text-align: center;
  border: 4px solid rgb(24, 96, 112);
  color: white;
  text-shadow: 1px 1px gray;
}

.pokemon {
  background: lightblue;
  background: #348abc;
  height: 100%;
  padding: 10px;
}

.pokemon__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 5%;
  list-style: none;
  margin-top: 10px;
}

.pokemon__list li {
  background: lightgreen;
}

.pokemon__name {
  background: rgb(250, 242, 167);
}

/*pokedex-control*/
.pokedex-control {
  background: red;
  padding:5px 0;
}

.pokedex-details {
  height: 100%;
  background: rgb(77, 182, 247);
  padding: 5px;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.pokedex-details__img {
  padding: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokedex-details__desc__name {
  font-weight: 600;
  /* color: white; */
  /* text-shadow: 1px 1px black; */
  background: rgb(180, 233, 250);
  border-radius: 5px;
  text-align: center;
}

.pokedex-details__desc {
  /* background: red; */
  padding: 10px;
  /* height: 80%; */
  height: 130px;
  overflow: scroll;
}

.pokedex-details button {
  margin: 5px;
  background: orange;
  border-radius: 200px;
}