* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: "Alumni Sans", sans-serif;

  font-family: "Rajdhani", sans-serif;
  /* font-family: 'Alumni Sans', sans-serif; */
}

/*navbar*/

/* .grid-container {
  height: 100vh;
  background: rgb(29, 29, 29);
} */

.battle-panel {
  background: lightgreen;
  height: 50vh;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0;
}

.sky-panel {
  background: turquoise;
  /* background: linear-gradient(rgb(35, 202, 186) 60%, rgb(72, 250, 232)); */
  height: 15vh;
}

.opponent {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  right: 20px;
  display: flex;
  justify-content: center;
}

.opponent__image {
  z-index: 100;
}

.opponent__circle {
  background: greenyellow;
  height: 60px;
  width: 200px;
  position: absolute;
  top: 50px;
  border-radius: 50%;
  border: 5px solid yellow;
}

.opponent-panel {
  background: rgb(232, 241, 190);
  border: 5px solid rgb(104, 103, 103);
  height: 80px;
  width: 130px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 5px;
}

.opponent-health__panel {
  background: gray;
  display: inline-block;
  text-align: right;
  padding: 3px;
}

.opponent-health__title {
  display: inline-block;
  font-size: .9rem;
  font-weight: 800;
  color: orange;
  text-shadow: 1px 1px 0 rgb(78, 78, 78);
}

.opponent-health__bar {
  display: inline-block;
  background: rgb(155, 253, 155);
  height: 10px;
  width: 85px;
  border-radius: 5px;
  border: 2px solid rgb(104, 103, 103);
}

.opponent-health__point {
  font-weight: 800;
  color: white;
  font-size: .8rem;
}

/* modifier when lost
 */
/* .opponent__circle--lost {
  background: coral;
  border: 5px solid red;
} */

/* --player-- */
.player {
  /* background: lightblue; */
  height: 150px;
  width: 250px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

.player__img {
  height: 110px;
  z-index: 100;
  position: absolute;
  bottom: -7px;

  
}

.player__circle{
  background: greenyellow;
  height: 90px;
  width: 300px;
  position: absolute;
  bottom: -50px;
  left: -100px;
  border-radius: 50%;
  border: 5px solid yellow;
}

.player-panel {
  background: rgb(232, 241, 190);
  border: 5px solid rgb(104, 103, 103);
  height: 90px;
  width: 150px;
  padding: 5px;
  position: absolute;
  right: 10px;
  bottom: 30px;
}

.player-health__panel {
  background: gray;
  display: inline-block;
  text-align: right;
  padding: 3px;
}

.player-health__title {
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  color: orange;
  text-shadow: 1px 1px 0 rgb(78, 78, 78);
}

.player-health__bar {
  display: inline-block;
  background: rgb(155, 253, 155);
  height: 10px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid rgb(104, 103, 103);
}

.player-health__point {
  font-weight: 800;
  color: white;
}

/* dialogue panel */
.dialogue {
  height: 25vh;
  margin: 5px 2%;
  border-radius: 20px;
  background: rgb(2, 92, 122);
  border: 10px solid gold;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-gap: 5px;
  padding: 1%;
}

.dialogue__story {
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.dialogue__command {
  background: white;
  border-radius: 10px;
  border: 5px rgb(32, 32, 32) solid;
  color: black;
  list-style: none;
  display: grid;
  grid-template-columns: 47% 1fr;
  grid-gap: 2px;
  padding: 2px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 800;
  text-shadow: 1px 2px 2px black;
  color: white;
  /* height: 50%;
  padding: 10px;
  border-radius: 5px; */
  border-radius: 5px;
}

.btn--attack {
  /* background: coral; */
  background:linear-gradient(coral, rgb(245, 28, 28));
}

.btn--bag {
  /* background: orange; */
  background: linear-gradient(orange,rgb(211, 138, 3));
}

.btn--pokemon {
  /* background: green; */
  background: linear-gradient(green,rgb(0, 71, 0));
  
}

.btn--run {
  background: rgb(0, 110, 255);
  background: linear-gradient(rgb(0, 110, 255), rgb(1, 58, 133));

}

/* Media Query */
/* For media query as screen increases */
/* .opponent__image {
  height: 300%;
} */
