.display__intro {
    position: absolute;
    display: grid;
    grid-template-rows: 30% 30% 40%;
    height: 100%;
    width: 100%; 
    background-color: #99d4ff;
  }
  
  .display-images {
    position: relative;
  }
  
  .display__intro-title {
    padding-top: 10%;
    color: yellow;
    /* font-size: 30px; */
    font-size: 1.5rem;
    border-radius: 20px;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    -webkit-text-stroke: 2px rgb(5, 5, 151);
    text-align: center;
  }
  
  .display__intro-pokeball {
    z-index: 10;
    height: 140%;
    aspect-ratio: 1/1;
    margin: auto;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg");
    background-repeat: no-repeat;
  }
  
  .display__intro-arena-circle {
    height: 40%;
    /* // height: 10%; //test w */
    aspect-ratio: 4.6/1;
    margin: auto;
    margin-top: 8px;
    background-color: #61f31c;
    border-radius: 50%;
    border: 5px solid #fcff73;
  }
  
  .display__intro-grass {
    background-color: #a7ff99;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-shadow: -1px 0 rgb(6, 6, 6), 0 2px rgb(6, 6, 6), 2px 0 rgb(6, 6, 6), 0 -1px rgb(6, 6, 6);
    text-transform: uppercase;
  }

@media screen and (min-height: 812px) {
    .selection__name {
      font-size: 1.1rem;
    }
    .infobox {
      height: 100%;
      font-size: 1.2rem;
    }
    .speaker {
      display: grid;
      height: 80%;
    }
    .speaker__port {
      height: 6px;
    }
    .btn-start-pause {
      width: 58px;
      height: 12px;
    }
    .btn-text{
      font-size: .8rem;
    }
    .display__intro-title {
      font-size: 2.2rem;
    }
    .display__intro-grass {
      font-size: 1.4rem;
    }
  }
  
  @media screen and (min-height: 1024px) {
    .selection__name {
      font-size: 1.5rem;
    }
    .infobox__container {
      font-size: 1.5rem;
    }
    .display__gameover {
      font-size: 4.5rem;
    }
    .gameover-playagain {
      font-size: 4rem;
    }
    .playgain-arrow {
      font-size: 2rem;
    }
    .display__intro-title {
      font-size: 10rem;
    }
    .btn-text{
      font-size: .9rem;
    }
    .display__intro-grass {
      font-size: 2rem;
    }
  }
  
  /* //Safari support */
  @media (aspect-ratio: 1/1) {
    .console-bottom__left {
      height: 46%;
    }
    .console-bottom__right {
      height: 70%;
    }
    .selection__img {
      height: 90%;
    }
    .display__intro-pokeball {
      height: 140%;
    }
  }
  
  @media (aspect-ratio: 1.7/1) {
    .green-display {
      height: 64%;
    }
  }
  
  @media (aspect-ratio: 4.6/1) {
    .display__intro-arena-circle {
      height: 40%;
    }
  }
  