/*======Battle Screen======*/
.battle-container {
  @include absolute-position;
  display: grid;
  grid-template-rows: 18% 1fr 22%;
  @include dimension(100%, 100%);
  background-color: $battle-ground;
  border-radius: 10px;
  // font-family: 'Goldman', cursive;
  text-shadow: 1px 1px rgb(154, 154, 154);
  font-family: 'Orbitron', sans-serif;
}

.sky-background {
  background: linear-gradient(rgb(173, 216, 230) 60%, rgb(238, 244, 243));
}

.grass-background {
  position: relative;
}

.player-wrapper {
  position: relative;
  align-self: end;
}

/*Health Panel*/
.opponent-health {
  width: 50%;
  padding: 4px;
  background: $health-panel-bg;
  border: 5px solid $health-panel-border;
  z-index: 100;
}

.opponent-health__name {
  font-size: 0.75rem;
}

.opponent-health__panel {
  width: 100%;
  padding: 3px;
  text-align: right;
  background: $health-panel-border;
}

.opponent-health__wrapper {
  display: flex;
}

.opponent-health__title {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 800;
  color: orange;
  text-shadow: 1px 1px 0 rgb(78, 78, 78);
}

.opponent-health__bar {
  display: inline-block;
  @include dimension(8px, 90%);
  margin: auto;
  background: $health-bar;
  border: 2px solid $health-bar-border;
  border-radius: 5px;
}

.opponent-health__point {
  color: white;
  font-size: 0.7rem;
  font-weight: 800;
}

/*Opponent Pokemon*/
.opponent-group {
  position: relative;
}

.opponent__img {
  position: absolute;
  top: -60px;
  right: 0;
  height: 110px;
  z-index: 100;
}

.opponent__circle {
  position: absolute;
  top: 0px;
  right: 0px;
  @include dimension(50px, 120px);
  background-color: $arena-circle-bg;
  border-radius: 50%;
  border: 5px solid $arena-circle-border;
  overflow: hidden;
}

/*Player Pokemon*/
.player {
  position: relative;
  bottom: 0px;
  left: 0px;
  @include dimension(100px, 250px);
  overflow: hidden;
}

.player__img {
  position: relative;
  // bottom: 0px;
  bottom: -20px;
  height: 110px;
  z-index: 100;
}

.player__circle {
  position: relative;
  bottom: 50px;
  right: 100px;
  @include dimension(90px, 300px);
  background: $arena-circle-bg;
  border: 5px solid $arena-circle-border;
  border-radius: 50%;
}

.player-health {
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
  padding: 5px;
  background: $health-panel-bg;
  border: 5px solid $health-panel-border;
  z-index: 100;
}

.player-health__wrapper {
  display: flex;
}

.player-health__panel {
  display: inline-block;
  width: 100%;
  padding: 3px;
  text-align: right;
  background: $health-panel-border;
}

.player-health__title {
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  color: orange;
  text-shadow: 1px 1px 0 rgb(78, 78, 78);
}

.player-health__bar {
  display: inline-block;
  @include dimension(10px, 89%);
  margin: auto;
  background: $health-bar;
  border-radius: 5px;
  border: 2px solid $health-bar-border;
}

.player-health__point {
  color: white;
  font-weight: 800;
}



.option-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  text-transform: uppercase;
}

// .option {
//   display: flex; 
//   justify-content: center;
//   align-self: center;
//   border-radius: 5px;
//   margin: 1px;
//   // padding: 10%;
//   text-align: center;
//   text-transform: uppercase;
// }

// .option--attack {
//   background: #fecbcb;
//   border: 2px solid #ff4343;
// }

// .option--bag {
//   background: #ffd978;
//   border: 2px solid #b48204;
// }

// .option--pokemon {
//   background: #64f961;
//   border: 2px solid #098707;
// }

// .option--run {
//   background: #56ccff;
//   border: 2px solid #1279a6;
// }


.arrow {
 visibility: hidden;
}

.arrow--selected {
  visibility: visible;
}
