/*======Selection Screen======*/
.display-selection {
  @include absolute-position;
  @include fullscreen;
  background: #48c0c8;
}

.grid-container {
  // height: 367px;
  display: grid;
  grid-template-rows: 80% 20%;
  height: 100%;
  padding: 4% 1% 0 1%;
  border-radius: 0 0 10px 10px;
}

.selection__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  list-style: none;
}

.selection__card {
  display: grid;
  grid-template-rows: 75% 25%;
  height: 100%;
  width: 100%;
  background: #a8e8f8;
  border: 2px solid #5198ab;
  border-radius: 3px;
  filter: grayscale(70%);
}

.selection__card--hide {
  font-family: "Black Ops One";
  font-size: 5rem;
  font-weight: 800;
  color: #ffcb05;
  -webkit-text-stroke: 2px #3367b0;
  text-align: center;
  background: #3367b0;
  border: 2px solid #ffcb05;
  border-radius: 3px;
}

.selection__name--hide,
.selection__img--hide {
  display: none;
}

.player__card-mystery {
  display: none;
}

.player__card-mystery--show {
  display: block;
}

.selection__img {
  align-self: center;
  justify-self: center;
  height: 90%;
  aspect-ratio: 1/1;
}

.selection__name {
  font-size: 0.75em;
  font-weight: 600;
  align-self: end;
  text-align: center;
  background: #f8f8f8;
  border: 2px solid #706880;
  border-radius: 3px;
}

/*Selection control effects*/
.selection__card--selected {
  border: 3px solid #f87030;
  filter: grayscale(0);
}

/*selection-infobox*/
.infobox {
  display: grid;
  grid-template-columns: 48% 52%;
  padding: 2px;
  font-size: 0.75rem;
  font-weight: 600;
  background: rgb(82, 183, 175);
  border: 2px solid rgb(62, 144, 137);
  border-radius: 0 0 10px 10px;
}

.infobox__container {
  padding: 1px;
  background: #ffffff;
  border-radius: 5px;
  outline: 1px solid #645c5c;
}

.infobox__container--yellow {
  border: 3px solid #ffe03a;
}

.infobox__container--red {
  display: grid;
  grid-template-columns: 45% 55%;
  border: 3px solid #d04028;
  ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-left: 2%;
  }
}

.infobox__text {
  padding: 1%;
}

.infobox__details {
  padding: 2%;
  list-style: none;
  line-height: 80%;
  font-size: 0.52rem;
}


